#login-contents{
    height: 80vh;
    background: #222222;
    width: 83%;
    display: flex;
    float: right;
}

#login-contents .container .login{
	color: rgba(235, 235, 235, 0.986);
}

#login-contents .container h2{
	color: rgba(235, 235, 235, 0.986);
}